*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.flex-container{
    width: 600px;
    height: 600px;
    border:1px solid black;
    display:flex;
  
}
.column {
    border:1px solid black; 
  
}

.row{
    display:flex;
    flex-direction: column;
    height:100%;
}

ul li{
    list-style: none;
}
.container{
    display:flex;
}